* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: lightskyblue;
}

.w-1070 {
    width: 1070px;
    margin: 100px auto;
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.w-1070 p {
    margin-bottom: 25px;
    font-size: 24px;
    font-family: monospace;
}

.w-1070 form input{
    padding: 3px;
    font-size: 20px;
}

.w-1070 form button {
    margin-left: 250px;
    padding: 3px;
    font-size: 20px;
}

.w-1070 ul {
    margin-top: 25px;
    font-size: 24px;
    font-family: monospace;
}